:root {
  --main-background: #f4f4f4;
  --sub-main-background: #f4f4f4cd;
  --primary: #136fd4;
  --sub-primary: #62adfe;
  --secondary: #f8de22;

  --sub-text: #4e4d4d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  list-style: none;
  text-decoration: none;
}

body,
html {
  background-color: var(--main-background);
  overflow-x: hidden;
}
